@media (max-width: 1600px) {
    .project {
        &__technologies {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .title {
            font-size: 2.5rem !important;
        }
    }
}

@media (max-width: 1280px) {
    .name-typing {
        font-size: 2.5rem;
    }
    .nav__item {
        font-size: 2.5rem;
    }
    .technologies {
        .technology {
            &__title {
                font-size: 2.5rem;
            }
        }
    }
    .projects {
        .project {
            max-width: 24rem;
            flex-direction: column;
            &__left-side {
                max-width: fit-content;
            }
            &__github-logo {
                position: static;
                margin-top: 1.5rem;
            }
        }
    }

    .project {
        &__technologies {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .title {
            font-size: 2.5rem !important;
        }
    }
}

@media (max-width: 992px) {
    .header {
        justify-content: space-between;
        .name-typing {
            width: fit-content;
            font-size: 4rem;
        }
        .nav {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .flex-nowrap {
        flex-wrap: wrap;
    }
    svg {
        height: 10rem !important;
    }
    .rounded-a-little {
        width: max-content !important;
    }
    .profile {
        flex-direction: column-reverse;
        .photo {
            margin-top: 10rem;
        }
        .text {
            margin-bottom: 10rem;
        }
    }
    .projects {
        .project {
            max-width: 30rem;
            &__logo {
                overflow: visible;
                max-height: none;
                img {
                    max-width: 25rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .name-typing {
        font-size: 2.2rem;
    }
    .profile {
        .text {
            font-size: 3.5rem;
            line-height: 5rem;
            margin-top: 2rem;
        }
    }
    .technologies {
        .technology {
            &__title {
                font-size: 2.2rem;
            }
        }
    }
    .whoings {
        .text {
            font-size: 2.5rem !important;
            line-height: 3rem !important;
        }
    }
    .works {
        padding: 0 10vw !important;
        .projects__items {
            width: fit-content;
        }
    }
} ;
