@import "reset.scss";

/*===== VARIABLES =====*/
@mixin section-params {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 4.5rem;
    padding: 0 20vw;
}

/*===== BASIC CSS =====*/
html {
    font-size: 10px;
}
body {
    background-color: #100f10;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 3.8rem;
}

.divider-top {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

svg {
    position: relative;
    display: block;
}

/*===== HEADER =====*/
.header {
    min-height: 5rem;
    background-color: #23282e;
}

.name {
}
.burger-menu {
}

/*===== MAIN=====*/
.main {
    .profile {
        @include section-params;
        min-height: calc(100vh - 5rem);
        &__divider-top {
            svg {
                width: calc(130% + 1.3px);
                height: 100px;
                .shape-fill {
                    fill: #23282e;
                }
            }
        }
        &__divider-bottom {
            svg {
                width: calc(131% + 1.3px);
                height: 164px;
                transform: rotateY(180deg);
                .shape-fill {
                    fill: #f7b733;
                }
            }
        }
    }
    .doings {
        @include section-params;
        background: linear-gradient(0deg, #fc4a1a, #f7b633);
        &__divider-bottom {
            transform: rotate(0);
            svg {
                width: calc(140% + 1.3px);
                height: 210px;
                .shape-fill {
                    fill: #100f10;
                }
            }
        }
    }
    .whoings {
        @include section-params;
    }
    .works {
        @include section-params;
        background-color: #1d7f55;
    }
}

/*===== FOOTER =====*/
.footer {
    min-height: 20rem;
    position: relative;
    bottom: 0;
}
